# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Model files
# Keep tracked .pkl model files in Git
# *.pkl
# *.joblib

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Python build files
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Streamlit
.streamlit/

# Vercel local files
.vercel/